/*========= Adaptive Variables ===========*/
$widthContainer: 1688px;

/*========= Adaptive Breakpoints ===========*/
$container: $widthContainer;
$extraLarge: 1280px;
$large: 1024px;
$medium: 744px;
$small: 360px;
$extraSmall: 320px;
