.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & > div {
    margin: 0;
  }
  
  :global(.ant-form-item-required) {
    &::before {
      margin-left: 6px;
      order: 1;
    }
    &::after {
      display: none;
    }
  }
}

